/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */


h1 {
  color: white;
  font-size: 100px;
  text-align: center;
  padding-top: 350px;
}

h2 {
  margin: 10px 0px;
  padding: 10px 0px;
}

hr {
  margin-right: 200px;
  margin-left: 200px;
  border: 2px solid gray;
}

ul {
  margin-left: 20px;
  font-size: 30px;
}

ol {
  margin-left: 20px;
  margin-right: 150px;
  padding-right: 50px;
  font-size: 30px;
  text-align: justify;
}



.cabecera {
  .fondo-titulo {
    background-image: url("../images/apple-pie.jpg");
    background-size: cover;
    background-position: center;
    margin: 10px; 
    width: 100%;
    height: 900px;
    padding-top: 20px;
  } 

  p {
    margin: 50px;
    padding: 50px 180px;
    text-align: justify;
    font-size: 42px;
  }

}

.imagen {
  text-align: center;
  margin: 40px 180px;
  padding: 40px 80px;
}

.bloque-receta {
  margin-left: 200px;
  font-size: 25px;

}

.lista-ingredientes li {
  list-style-type: none;
}

.lista-ingredientes li::before {
  content: "- "
}

.instrucciones-receta li {
  list-style-type: none;
  counter-increment: listcounter;
  /*counter-reset: listcounter;*/
}

.instrucciones-receta li::before {

  content: counter(listcounter) ")";

}





